/* footer */
* {
  font-family: noto sans TC;
}
body {
  margin: 0;
}

.footer {
  position: relative;
  z-index: 0;
}

.footer p {
  margin: 0;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer li {
  text-decoration: none;
}

/* for mobile phone */
@media (max-width: 992px) {
  .slogan__container {
    display: block;
  }
  .footer img {
    display: none;
  }
  .footer__story.footer__story {
    padding-left: 30px;
  }
  .footer__slogan-text {
    font-size: 50px;
  }

  .footer__slogan-number {
    font-size: 94px;
  }

  .footer__slogan-category {
    font-size: 25px;
  }
  .footer__story-text {
    text-align: center;
  }
  .footer__story-text article,
  .footer__story-text p {
    text-align: left;
  }
  .join, .share  {
    display: none;
  }

}

/* for PC */
@media screen and (min-width: 992px) {
  .slogan__container {
    display: block;
    max-width: 700px;
    margin: 0 auto;
  }
  .slogan__container p {
    display: inline-block;
  }
  .footer__slogan-local {
    max-width: 240px;
    display: inline-block;
  }
  .footer__slogan-text {
    font-size: 50px;
  }

  .footer__slogan-number {
    font-size: 100px;
  }
  .footer__slogan-category {
    font-size: 24px;
  }
  .footer__slogan-text + .footer__slogan-text {
    margin-left: 20px;
  }

  .footer__slogan-local + .footer__slogan-local {
    margin-left: 30px;
  }

  .footer__story-text {
    display: inline-block;
    max-width: 1000px;
    /* margin-left: 30px; */
    margin-bottom: 22px;
    /* vertical-align: top; */
  }

  .footer__story-picture img {
    width: 100%;
    display: block;
  }
}

/* common */
.footer__slogan {
  background-color: #a63f24;
  width: 100%;
}

.slogan__container {
  background-color: #a63f24;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.slogan__container p {
  color: #ffffff;
}

.footer__story {
  background-color: #ffffff;
  padding: 48px 50px 50px 566px; 
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  /* padding-left: 450px; */
}

.footer__story-picture {
  width: 400px;
  /* height: 730px; */
  display: block;
  position: absolute;
  left: 32px;
  /* top: 18px; */
  bottom: 0px;
}
.footer__story-snslinks {
  display: block;
}

.footer__story-joinlinks {
  display: inline-block;
}

.footer__story-share {
  display: inline-block;
  /* margin-left: 45px; */
}

.footer__story-joinlinks span,
.footer__story-share span,
i {
  color: #a63f24;
}

.footer__story-snslinks ul {
  display: inline-block;
}
.footer__story-snslinks li {
  display: inline-block;
}

.footer__story-snslinks li + li {
  margin-left: 20px;
}

.footer__story-joinlinks span {
  margin-right: 10px;
}

.footer__story-share span {
  margin-right: 11px;
}


/* contact */
.footer__office {
  font-weight: bold;
}

.footer__number {
   color:#a63f24;
   text-decoration: underline;
}

.footer__contact + .footer__contact {
  margin-top: 20px;
}

.footer__contact-container {
  margin-top: 20px;
}

/* message board */
.message {
    background-color: #FFFFFF;
}
.message__text-container {
    text-align: center;
}

h3 {
    font-size: 44px;
    font-weight: normal;
}

h4 {
    font-size: 25px;
    font-weight:normal;
    color:#818181
}

.message__form {
    margin: 0 auto;
    width: 650px;
}



::placeholder {
    color: rgb(222, 221, 221);
}

input[type=text] {
    width: 100%;
    padding: 27px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  

  #submit {
    width: 100%;
    background-color: #A63F24;
    color: white;
    padding: 24px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
  
  input[type=submit]:hover {
    background-color:#8f351e;
    /* box-shadow: 0px 15px 20px rgba(230, 77, 75, 0.4); */
    transform: translateY(-7px);
  }
  
  .message__container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
 

.message__form {
        max-width: 320px;
        margin: 0 auto;
    }
