* {
  box-sizing: border-box;
}

.header {
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  overflow-x: clip;
}

.header__logo-container {
  position: absolute;
  width: 488px;
  left: -104px;
  top: -155px;
}

.header__logo-container img {
  width: 100%;
  opacity: 15%;
}

.header__report {
  position: absolute;
  top: 25px;
  right: 25px;
  text-align: center;
  font-size: 0px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.header__term {
  display: inline-block;
  width: 320px;
  padding: 7px 12px;
  height: 43px;
  font-size: 20px;
  background: #a63f24;
  vertical-align: bottom;
}

.header__attendance {
  display: inline-block;
  margin-left: 16px;
  padding: 7px 12px;
  width: 190px;
  height: 43px;
  font-size: 20px;
  background: #a63f24;
  vertical-align: bottom;
}

.header__nav {
  padding: 72px 140px 63px;
  color: #a63f24;
}
.header__title-container {
  margin-bottom: 22px;
}

.header__title-content {
  position: relative;
  margin-bottom: 22px;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 0px;
}

.header__titletext {
  width: 572px;
  height: 130px;
  font-weight: 900;
  font-size: 90px;
  line-height: 130px;
  display: inline-block;
}

.header__subtitletext {
  display: block;
  width: 196px;
  height: 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}

.header__title-content img {
  display: none;
}

@media screen and (min-width: 992px) {
  .header__title-content img {
    display: block;
    position: absolute;
    left: 264px;
    bottom: -16px;
  }
}
.header__title img {
  position: absolute;
  left: 264px;
  bottom: -16px;
}

.header h1 {
  margin: 0;
  width: 198px;
  height: 74px;
  font-weight: 900;
  font-size: 65px;
}

.header__effect {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.header__effect-business {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 436px 233.9px 230px;
  grid-template-areas:
    "a a a e"
    "b b d d"
    "c c d d";
  gap: 20px;
}

.header__legislature {
  position: relative;
  grid-area: a;
  /* width: 608.6px; */
  height: 436px;
  padding: 24px 30px 25px;
  background-image: url("../images/資產\ 1@2x\ 1.png");
  background-repeat: no-repeat;
  /* background-size: 510px contain; */
  background-position: right bottom;
  background-color: #f6f6f6;
  color: #a63f24;
}

.header__legislature:hover,
.header__press-conference:hover,
.header__petition:hover,
.header__survey:hover,
.header__social-welfare-hover:hover {
  color: #ffffff;
  background-color: #a63f24;
  background-image: none;
}
.header__legislature:hover svg circle,
.header__press-conference:hover svg circle,
.header__petition:hover svg circle,
.header__survey:hover svg circle,
.header__social-welfare:hover svg circle {
  stroke: #fff;
}
.header__legislature:hover svg path,
.header__press-conference:hover svg path,
.header__petition:hover svg path,
.header__survey:hover svg path,
.header__social-welfare:hover svg path {
  stroke: #fff;
}

.header__legislature .header__container + .header__container {
  margin-top: 24px;
}
.header__legislature .first .header__box + .header__box {
  margin-left: 80px;
}
.header__legislature .second .header__box + .header__box {
  margin-left: 94.7px;
}
.header .header__number {
  letter-spacing: 0.02em;
  font-size: 80px;
  line-height: 100%;
}

.header__box.more {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.header .header__sub-tittle {
  font-size: 24px;
  line-height: 35px;
}
.header .header__sub-tittle-more {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  vertical-align: middle;
}

.header__icon {
  height: 54px;
  width: 54px;
}
.header__icon img {
  width: 100%;
}

/* .header__effect-row + .header__effect-row {
  margin-top: 24px;
} */

.header__box {
  display: inline-block;
  width: fit-content;
}
/* <<<<<<< HEAD
.header__box-z {
  position: absolute;
  z-index: 1;
}
=======
>>>>>>> header */

/* .header__box + .header__box {
  margin-left: 92px;
} */

.header__number {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
}
.header__sub-tittle {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 900;
}
.header__text {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  vertical-align: middle;
}
.header__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

/* .header__legislature-detail {
  position: relative;
  bottom: 30px;
} */
/* .header__justify {
  text-align-last: justify;
} */
/* .header__right {
  text-align: right;
} */

/* petition */

.header__petition {
  box-sizing: border-box;
  position: relative;
  grid-area: b;
  padding: 24px 30px 30px;
  height: 233.9px;
  background-image: url("../images/Frame.png");
  background-repeat: no-repeat;
  background-position: 165px 105px;
  background-color: #f6f6f6;
}

.header__press-conference {
  box-sizing: border-box;
  position: relative;
  grid-area: c;
  padding: 24px 30px 30px;
  height: 230px;
  background-image: url("../images/—Pngtree—news\ media\ conference\ illustration_4591760\ 1.png");
  background-position: 0px 32.03px;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
}
.header__press-conference .header__box {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}
.header__press-conference .header__box.more {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
}

/* .header__press-conference .header__effect-row {
  width: fit-content;
  margin: 24.7px auto 0px;
} */
.header__survey {
  box-sizing: border-box;
  position: relative;
  padding: 24px 30.2px 30px;
  height: 480px;
  grid-area: d;
  background-image: url("../images/資產\ 4@2x\ 1.png");
  background-repeat: no-repeat;
  background-position: 110px 58px;
  background-color: #f6f6f6;
}

/* .header__survey .header__effect-row:last-child {
  margin-top: 259px;
} */

.header__social-welfare-container {
  position: relative;
}

.header__social-welfare-hover {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 24px 30.2px;
  width: 100%;
  height: 269px;
  background-image: url("../images/ij@2x\ 1.png");
  background-repeat: no-repeat;
  background-position: 113px 25px;
  background-color: #f6f6f6;
}
/* .header__social-welfare .header__effect-row:last-child {
  margin-top: 48px;
} */
.header__full-body-img {
  width: 710.16px;
  height: 940px;
  position: absolute;
  bottom: 269px;
  left: -270px;
}

.header__full-body-img img {
  width: 100%;
  height: 100%;
}
