/* * {
  outline: 1px green solid;
} */

/* body {
  background-color: #a63f24;
} */

.legislature__tittle {
  padding: 17px 36px 17px 30px;
  color: #ffffff;
  text-align-last: justify;
  background: #a63f24;
}

.legislature__tittle h2 {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  vertical-align: middle;
}

.legislature__tittle .btn-close {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  vertical-align: middle;
  background-size: cover;
  opacity: 1;
}

.legislature__main {
  font-size: 0;
}

.legislature__mobile {
  display: none;
}

.legislature__mobile .btn-secondary {
  padding: 14.5px 16px;
  width: 100%;
  font-size: 17px;
  text-align-last: justify;
  background-color: #a63f24;
}

.legislature__container {
  display: inline-block;
  width: fit-content;
}

.legislature__mobile .dropdown-menu {
  width: 100%;
  font-size: 17px;
  background-color: #ddd;
}

.legislature__list {
  display: inline-block;
  width: 20%;
  /* height: 100%; */
  background: #a63f24;
  vertical-align: top;
}

.legislature__bullet {
  display: block;
  margin: 0;
  padding: 22.5px 30px;
  border: 1px white solid;
  color: #ffffff;
  text-decoration: none;
  text-align-last: justify;
}

.legislature__bullet:hover {
  color: #fff;
}

.legislature__bullet div {
  display: inline-block;
}

.legislature__sub-tittle {
  font-size: 24px;
}
.legislature__number {
  font-size: 30px;
}
.legislature__aside {
  display: inline-block;
  width: 80%;
  background: #a63f24;
}

.legislature__article {
  padding: 50px 54px;
  background: white;
}

.legislature__article + .legislature__article {
  margin: 20px 0;
}

.legislature__article h4 {
  margin: 0;
  font-size: 17px;
}

.legislature__article h5,
h6 {
  font-size: 13px;
  color: grey;
}

.legislature__article h6 {
  margin: 8px 0 0 0;
}
.legislature__article p {
  margin: 8px 0 0 0;
  font-size: 17px;
}
.legislature__filter {
  background-color: #fff;
  padding: 17px 30px;
}

.legislature__filter .dropdown-toggle {
  display: inline-block;
  color: #a63f24;
}

.legislature__filter .btn-secondary {
  padding: 9.5px 8px;
  border: 1px #a63f24 solid;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}

.legislature__filter .legislature__container + .legislature__container {
  margin-left: 38px;
}

.legislature__filter .dropdown-menu {
  background-color: #ddd;
}

.legislature__box {
  display: inline-block;
  width: fit-content;
  vertical-align: top;
}

.legislature__box + .legislature__box {
  margin-left: 16px;
}

.legislature__actived {
  color: #a63f24;
  background: white;
}

.legislature__actived:hover {
  color: #a63f24;
}

@media screen and (max-width: 992px) {
  .legislature__list {
    display: none;
  }
  .legislature__mobile {
    display: block;
  }
  .legislature__aside {
    width: 100%;
    margin: 0 auto;
  }
  .legislature__article {
    padding: 20px;
  }
  .legislature__tittle {
    padding: 24px 25px 24px 16px;
  }
  .legislature__tittle h2 {
    font-size: 24px;
  }
  .legislature__tittle .btn-close {
    width: 30px;
    height: 30px;
  }
}

.legislature__continueBTN {
  padding: 17px 36px 17px 30px;
  color: #ffffff;
  text-align-last: center;
  background: #a63f24;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

.oral-All .oral-A,
.oral-All .oral-B,
.oral-All .oral-C,
.oral-All .oral-D,
.oral-All .oral-E,
.oral-All .oral-F,
.oral-All .oral-G,
.oral-All .oral-H,
.oral-All .oral-I {
  display: block;
}

.oral-All-A .oral-A {
  display: block;
}
.oral-All-B .oral-B {
  display: block;
}
.oral-All-C .oral-C {
  display: block;
}
.oral-All-D .oral-D {
  display: block;
}
.oral-All-E .oral-E {
  display: block;
}
.oral-All-F .oral-F {
  display: block;
}
.oral-All-G .oral-G {
  display: block;
}
.oral-All-H .oral-H {
  display: block;
}
.oral-All-I .oral-I {
  display: block;
}

.oral-A {
  display: none;
}
/* .legislature__article.oral-B, */
.oral-B {
  display: none;
}
.oral-C {
  display: none;
}
.oral-D {
  display: none;
}
.oral-E {
  display: none;
}
.oral-F {
  display: none;
}
.oral-G {
  display: none;
}

.oral-H {
  display: none;
}
.oral-I {
  display: none;
}

.legislature__box-background {
  height: 226px;
  width: 428px;
  position: relative;
  background-position-y: -56px;
  background-size: cover;
}

.legislature__box-background svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legislature__no-link{
  height: 226px;
  width: 428px;
  background-color: #a63f24;
}

.legislature__no-link p {
  font-size: 60px;
  height: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 60px 30px;
}

.legislature__vedio-link{
  height: 226px;
  width: 428px;
  background-color: #a63f24;
}

.legislature__vedio-link a {
  height: 100%;
  display: block;
  font-size: 60px;
  padding: 60px 30px;
  color: #fff;
  text-align: center;
}
