* {
  outline: 1px green solid;
}
body {
  /* min-width: 992px; */
}

.legislature__tittle {
  padding: 20px;
  color: #ffffff;
  text-align-last: justify;
  background: #a63f24;
}

.legislature__tittle h2 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.legislature__tittle .btn-close {
  display: inline-block;
  width: calc(1.375rem + 1.5vw);
  height: calc(1.375rem + 1.5vw);
  border: none #a63f24;
  vertical-align: middle;
  background-size: cover;
  opacity: 1;
}

.legislature__main {
  font-size: 0;
}

.legislature__mobile {
  display: none;
}

.legislature__mobile .btn-secondary {
  width: 100%;
  font-size: calc(1.3rem + 0.6vw);
  text-align-last: justify;
  background-color: #a63f24;
}

.legislature__container {
  display: inline-block;
  width: fit-content;
}

.legislature__mobile .dropdown-menu {
  width: 100%;
  font-size: calc(1.3rem + 0.6vw);
  background-color: #ddd;
}

.legislature__list {
  display: inline-block;
  width: 30%;
  height: 100%;
  font-size: 26px;
  background: #a63f24;
  vertical-align: top;
}

.legislature__bullet {
  display: block;
  margin: 0;
  padding: 20px;
  border: 1px white solid;
  color: #ffffff;
  text-decoration: none;
  text-align-last: justify;
}

.legislature__bullet div {
  display: inline-block;
}

.legislature__aside {
  display: inline-block;
  width: 70%;
  background: #a63f24;
}

.legislature__article {
  padding: 50px;
  background: white;
}

.legislature__article + .legislature__article {
  margin: 20px 0;
}

.legislature__article h4 {
  margin: 0;
}

.legislature__article h5 {
  margin: 30px 0 0 0;
  font-size: 12px;
  color: grey;
}

.legislature__article h6 {
  margin: 30px 0 0 0;
  font-size: 18px;
  font-weight: bolder;
}

.legislature__article p {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.legislature__actived {
  color: #a63f24;
  background: white;
}

@media screen and (max-width: 992px) {
  .legislature__list {
    display: none;
  }
  .legislature__mobile {
    display: block;
  }
  .legislature__aside {
    width: 100%;
    margin: 0 auto;
  }
  .legislature__article {
    padding: 20px;
  }
}
