.legislature {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    background-color: #a63f24;
}

.legislatureappear .legislature {
    display: block;
    position: absolute;
    top:0;
    z-index: 1;
}