/* header、版面設定 */
body {
    margin: 0;
}
.sw__table-row:nth-child(n+2){
    background-color: #FFFFFF;
}
.social-welfare{
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: #ffffff;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    /* color: #ffffff; */
    top: 0;
    z-index: 2;
  }
  .social-welfare__container {
    background-color: #a63f24;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }

.social-welfare__title {
    width: 100%;
    background-color: #a63f24;
    margin: 0;
    color: white;
    padding: 17px 30px;
    border-bottom: solid #ffffff 1px;
    box-sizing: border-box;

}

.social-welfare h2 {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
}

.social-welfare .btn-close {
    float: right;
    display: inline-block;
    width: calc(1.375rem + 1.5vw);
    height: calc(1.375rem + 1.5vw);
    border: none #a63f24;
    /* vertical-align: middle; */
    background-size: cover;
    opacity: 1;
    vertical-align: baseline;
}



.social-welfare__menuclose span {
    font-size: 20px;
}


.social-welfare__event-container {
    height: 100vh;
    background-color: #ffffff;
    overflow-y: auto;
    width: 100%;
}

.social-welfare__event {
    font-size: 17px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 992px) {


    .social-welfare__title {
        height: 86px;
    }

    .social-welfare__event-container {
        height: calc(100vh - 86px);
        border-left: #a63f24 solid 15px;
    }

    .social-welfare h2 {
        background: #a63f24;
        font-size: medium;

        font-size: 36px;
        line-height: 52px;
    }

    .social-welfare__sp {
        display: none;
    }

}


/* 表格 */
.sw__table {
    /* border: 0px solid #FFFFFF; */
    /* background-color: #FFFFFF; */
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.sw__table-cell,
.sw__table-head {
    /* border: 1px solid #E0E0E0; */
    padding: 15px 12px;
}

.sw__table-body .sw__table-cell {
    font-size: 17px;
    border-bottom: 1px solid #E0E0E0;
}

.sw__table-heading {
    background: #A63F24;
}

.sw__table-heading .sw__table-head {
    font-size: 17px;
    color: #FFFFFF;
    text-align: left;
}

.tableFootStyle {
    font-size: 14px;
}


.sw__table {
    display: table;
}

.sw__table-row {
    /* display: table-row;  */
    display: flex;
    padding: 14.5px 16px;
}

.sw__table-heading {
    display: table-header-group;
}

.sw__table-cell,
.sw__table-head {
    /* display: table-cell; */
    /* padding: 0; */
    padding: 10px;
}

.sw__table-heading {
    display: table-header-group;
}

.sw__table-body {
    display: table-row-group;
}

.sw__table-head-pc, .sw__table-cell-pc {
    display: none;
}

.sw__table-head-sp {
    display: block;
    flex: 1 1 auto;
}

.sw__table-head-common {
    /* display: table-cell; */
    flex: 0 1 90px
}

.sw__table-head-pc, .sw__table-cell-pc {
    display: none;
}
/* 表格電腦版 */

.sw__table-cell-common {
    /* display: table-cell; */
    display: block;
    flex: 0 1 90px
}


@media screen and (min-width: 992px) {
    .sw__table-head-sp, .sw__table-cell-sp {
        display: none;
    }
    .sw__table-head-common ,.sw__table-cell-common{
        /* display: table-cell; */
        display: block;
        flex: 0 1 150px
    }
    .sw__table-head-pc.sw__table-head-pcA, .sw__table-cell-pc.sw__table-cell-pcA {
        /* display: table-cell; */
        display: block;
    flex: 0 1 150px;
    }    
    .sw__table-head-pc.sw__table-head-pcB, .sw__table-cell-pc.sw__table-cell-pcB{
        /* display: table-cell; */
        display: block;
    flex: 0 1 100px;
    }    
    .sw__table-head-pc.sw__table-head-pcC, .sw__table-cell-pc.sw__table-cell-pcC {
        /* display: table-cell; */
        display: block;
    flex: 1 1 386px;
    }

}