* {
  outline: 1px green solid;
}
body {
  /* min-width: 992px; */
}

header {
  padding: 20px;
  color: #ffffff;
  text-align-last: justify;
  background: #a63f24;
}

h1 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.tittle .btn-close {
  display: inline-block;
  width: calc(1.375rem + 1.5vw);
  height: calc(1.375rem + 1.5vw);
  border: none #a63f24;
  vertical-align: middle;
  background-size: cover;
  opacity: 1;
}

main {
  font-size: 0;
}

.mobile {
  display: none;
}

.dropdown .btn-secondary {
  width: 100%;
  font-size: calc(1.3rem + 0.6vw);
  text-align-last: justify;
  background-color: #a63f24;
}

.container {
  display: inline-block;
  width: fit-content;
}

.dropdown .dropdown-menu {
  width: 100%;
  font-size: calc(1.3rem + 0.6vw);
  background-color: #ddd;
}

.list {
  display: inline-block;
  width: 30%;
  height: 100%;
  font-size: 26px;
  background: #a63f24;
  vertical-align: top;
}

.bullet {
  display: block;
  margin: 0;
  padding: 20px;
  border: 1px white solid;
  color: #ffffff;
  text-decoration: none;
  text-align-last: justify;
}

.bullet div {
  display: inline-block;
}

.aside {
  display: inline-block;
  width: 70%;
  background: #a63f24;
}

.article {
  padding: 50px;
  background: white;
}

.article + .article {
  margin: 20px 0;
}

.article h3 {
  margin: 0;
}

.article h4 {
  margin: 30px 0 0 0;
  font-size: 12px;
  color: grey;
}

.article h5 {
  margin: 30px 0 0 0;
  font-size: 18px;
  font-weight: bolder;
}

.article p {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.actived {
  color: #a63f24;
  background: white;
}

@media screen and (max-width: 992px) {
  .list {
    display: none;
  }
  .mobile {
    display: block;
  }
  .aside {
    width: 100%;
    margin: 0 auto;
  }
  article {
    padding: 20px;
  }
}
